  <footer class="row">
    <div class="large-12 columns">
      <hr>
      <div class="row">
        <div class="large-6 columns">
         <p>Die OpenCityCamps sind ein Projekt der <a href="http://www.ulmapi.de">datalove-Hochschulgruppe an der Universität Ulm</a>.</p>
         <p>Wir bedanken uns bei unseren Projektpartnern und Förderern: <a href="http://innovation.mfg.de">MFG Innovationsagentur</a> (seit 2012), <a href="http://www.ulm.de/ulm">Stadt Ulm</a> (2012 und 2013), <a href="http://www.alda-europe.eu/">ALDA</a> und <a href="https://eacea.ec.europa.eu/europe-for-citizens_en">Europe for Citizens</a> (2014).
          </p>
        </div>
        <div class="large-6 columns">         
         <p><strong>Impressum</strong><br/>
         datalove-Hochschulgruppe<br />
         ℅ Verfasste Studierendenschaft KdöR<br />
         Universität Ulm<br />
         Albert-Einstein-Allee 11<br />
         89081 Ulm</p>
         <p>datalove bei uni-ulm.de</p>
        </div>
      </div>
    </div>
  </footer>
