  <footer class="row">
    <div class="large-12 columns">
      <hr>
      <div class="row">
        <div class="large-6 columns">
         <h6>Unsere Partner</h6>
      <p><a href="http://innovation.mfg.de"><img src="{{ "/img/MFG-Innovationsagentur-4c.jpg" | prepend: site.baseurl }}"></a>
      </p>
      <p><a href="http://www.okfn.de"><img src="{{ "/img/okfn-logo-landscape.png" | prepend: site.baseurl }}"></a></p>
      <p><a href="http://www.alda-europe.eu"><img src="{{ "/img/ALDA_eadl_LOGO_RGB_EN&FR.png" | prepend: site.baseurl }}"></a></p> 
      <p><a href="https://eacea.ec.europa.eu/europe-for-citizens_en"><img src="{{ "/img/europeforcitizens.png" | prepend: site.baseurl }}"></a></p>
        </div>
        <div class="large-6 columns">         
         <p>Die OpenCityCamps sind ein Projekt der <a href="http://www.ulmapi.de">datalove-Hochschulgruppe an der Universität Ulm</a>.</p>
         <p><strong>Impressum</strong><br/>
         datalove-Hochschulgruppe<br />
         ℅ Verfasste Studierendenschaft KdöR<br />
         Universität Ulm<br />
         Albert-Einstein-Allee 11<br />
         89081 Ulm</p>
         <p>datalove bei uni-ulm.de</p>
        </div>
      </div>
    </div>
  </footer>
